:root{
    --red: rgba(255, 100, 100, 1.0);
    --orange: rgba(255, 180, 100, 1.0);
    --yellow: rgba(255, 255, 100, 1.0);
    --green: rgba(100, 255, 100, 1.0);
    --blue: rgba(100, 180, 255, 1.0);
    --purple: rgba(180, 100, 255, 1.0);
    --gray: rgba(255, 255, 255, 0.5);
    --solidgray: rgba(126, 126, 126, 1.0);
    --black: rgba(0, 0, 0, 1.0);
    --white: rgba(255, 255, 255, 1.0);
    --background: #444444;
    --speed: 0.2s;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    font-family: Oswald, sans-serif;
    font-weight: 300;
}
h1{
    color: var(--black);
    background: var(--white);
    font-size: 4rem;
}
.one-half{
    display: inline-block;
    width: 50%;
}
.right{
    float: right;
}
.container.one-half.right .row{
    margin-top: 11rem !important;
}
#header{
    text-align: center;
}
#logo{
    width: 90%;
    margin: 4rem 0rem;
    max-width: 50rem;
    cursor: pointer;
}
#roster{
    width: 100%;
    background-color: var(--background);
    padding: 3.5rem 0 2.5rem 0;
    max-width: 75rem;
    margin: auto;
    margin-bottom: 2rem;
    background: linear-gradient(to top left, var(--black), var(--background));
}
.row.title{
    margin-bottom: 2rem !important;
}
#roster .row, #key .row{
    width: 90.5%;
    margin: auto;
    background-color: transparent;
    height: 5rem;
    text-align: center;
    margin-bottom: 0.2rem;
    max-width: 52.5rem;
}
.character_tile{
    display: inline-block;
    height: 5rem;
}
.smash64, .melee, .brawl, .smash4, .smash5, .totalchars{
    cursor: pointer;
    background: var(--gray);
    transition: all var(--speed);
}
.smash64:hover{
    background: var(--yellow);
}
.melee:hover{
    background: var(--red);
}
.brawl:hover{
    background: var(--purple);
}
.smash4:hover{
    background: var(--blue);
}
.smash5:hover{
    background: var(--green);
}
.totalchars:hover{
    background: var(--white);
}
.character_tile img{
    height: 5rem;
}
#key{
    background-color: var(--background);
    width: 100%;
    margin: auto;
    margin-bottom: 8rem;
    padding: 2.5rem 0;
    max-width: 75rem;
    background: linear-gradient(to top left, var(--black), var(--background));
}
#key p{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    position: relative;
    top: -4rem;
    left: 7rem;
    text-align: left;
    width: 80%;
}
.keycolor{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}
.chars{
    color: white;
    font-size: 2rem;
}
.character{
    width: 100%;
    background-color: var(--background);
    padding: 3.5rem 0 2.5rem 0;
    max-width: 75rem;
    margin: auto;
    margin-bottom: 7rem;
    background: linear-gradient(to top left, var(--black), var(--background));
    color: var(--white);
}
.character .row{
    width: 90.5%;
    margin: auto;
    background-color: transparent;
    text-align: center;
    margin-bottom: 0.2rem;
    max-width: 52.5rem;
}
.character .row img{
    height: 30rem;
    background: radial-gradient(var(--white) -100%, transparent 50%);
}
.character p{
    font-size: 1.5rem;
    text-align: justify;
}
.character h1{
    text-transform: uppercase;
}
.character h3{
    font-size: 2rem;
}
#top{
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 2.5rem;
    z-index: 99;
    border: none;
    outline: none;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all var(--speed);
    background: var(--solidgray);
}
#top:hover{
    background: var(--white);
}
#footer{
    background-color: var(--background);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    background: linear-gradient(to top left, var(--black), var(--background));
}
@media only screen and (max-width: 420px){
    .char{
        padding: 0 1rem;
        margin: 0 -0.5rem;
    }
    .char-img{
        margin-right: 1rem;
    }
    .character .row img{
        height: 20rem;
    }
    .row.title.main{
        margin-bottom: 15rem !important;
    }
    #roster .row{
        margin-bottom: 11rem;
    }
    #key .row{
        margin-bottom: 8rem;
    }
    #key p{
        top: -6rem;
    }
    .right{
        float: initial;
    }
    .container.one-half.right .row{
        margin-top: 5rem !important;
    }
}
@media only screen and (max-width: 400px){
    #roster .row{
        margin-bottom: 16.25rem;
    }
}











